.spaceship-size {
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
}

.spaceship-container {
    --spaceship-position: 50%;
    position: absolute;
    left: var(--spaceship-position);
    bottom: 5%;
    transform: translateX(-50%);
}